@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Geomanist';
  src: url("../assets/fonts/Geomanist-Regular.ttf");
}

@font-face {
  font-family: 'Geomanist';
  src: url("../assets/fonts/Geomanist-Bold.ttf");
  font-weight: bold;
}


* {
   user-select: none;
}


